/* =========================================
   PÁGINA: SOBRE NOSOTROS
========================================= */


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

        /*-------$$$ HEADER PRINCIPAL $$$-------*/

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap:40px;

    border-bottom: 1px solid #333;
    position: sticky;
    top: 0;
    z-index: 100;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

/*--- LOGO --- */

.tipologo {
    font-size: 1.4rem;
    font-weight: 900;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;

    margin-right: 20px;
}

.caja-naranja {
    background-color: #f59e0b;

    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
}
.caja-naranja svg{
    width: 28px;
    height: auto;
    color: black;
    transition: transform 0.3s;
}

.caja-naranja:hover svg {
    color: black;
    transform: scale(1.1);
}



/*----- navegacion ----*/

.navLinks {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navLinks a {
    text-decoration: none;
    color: #a1a1a1;
    font-weight: 700;
}

.navLinks a:hover {
    color: #f59e0b;
}

/*----- caja de login ----*/

.user-point {
    display: flex;
    align-items: center;
    gap: 25px;
}


.btn-login {
    background: transparent;
    border: 1px solid #555;
    color: #ffffff;

    padding: 6px 20px 6px 6px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    gap:8px;
}

.btn-login:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #0a0a0a;
}


.caja-icon-login {
    background-color: transparent; 
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-icon-login svg {
    width: 20px;
}


/* --- Boton Carrito --- */

.user-point a {
    color: inherit;
    text-decoration: none;
}

.caja-shopping {
    width: 45px;
    height: 45px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* --- CONTADOR DEL CARRITO --- */
.badge-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #f59e0b; /* Naranja ObraMaestra */
    color: #000;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000; /* Borde negro para que resalte sobre el ícono */
    display: none; /* Oculto por defecto si está en 0 */
}

.caja-shopping svg {
    width: 20px;
    transition: transform 0.3s;
}

.caja-shopping:hover {
    color: #f59e0b;
}

.caja-shopping:hover svg {
    transform: scale(1.1);
}

/* --- Botón Hamburguesa (Oculto en PC por defecto) --- */
.btn-hamburguesa {
    display: none; 
}
/*----------fin del header ----------*/



.seccion-nosotros {
    padding: 20px 5%;
    background-color: #0a0a0a; /* Fondo oscuro base */
    min-height: 100vh;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}

.contenedor-nosotros-wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* --- TÍTULO PRINCIPAL --- */
.cabecera-nosotros {
    text-align: center;
    margin-bottom: 60px;
}

.cabecera-nosotros h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.texto-naranja {
    color: #f59e0b;
}

.cabecera-nosotros p {
    color: #a0a0a0;
    font-size: 1.1rem;
}

/* --- BLOQUE 1: HISTORIA Y STATS --- */
.bloque-historia-stats {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    align-items: center;
}

.historia-texto {
    flex: 1; /* Ocupa la mitad */
}

.historia-texto h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.historia-texto p {
    color: #a0a0a0;
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 1.05rem;
}

/* La grilla de números 2x2 */
.grilla-estadisticas {
    flex: 1; /* Ocupa la otra mitad */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stat-caja {
    background-color: #161616;
    border: 1px solid #252525;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat-numero {
    color: #f59e0b;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.stat-label {
    color: #a0a0a0;
    font-size: 0.9rem;
}

/* --- BLOQUE 2: VALORES --- */
.bloque-valores {
    margin-bottom: 50px;
    background-color: #101012;
    padding: 20px 5%;
    border-radius: 10px;
}

.titulo-centrado {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 40px;
}

.grilla-4-valores {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.valor-caja {
    background-color: #161616;
    border: 1px solid #252525;
    padding: 40px 25px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.valor-caja:hover {
    transform: translateY(-5px);
    border-color: #444;
}

.valor-caja i {
    color: #f59e0b;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.valor-caja h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.valor-caja p {
    color: #a0a0a0;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* --- BLOQUE 3: MISIÓN Y VISIÓN --- */
.bloque-mision-vision {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.caja-mision {
    background-color: #1c140a; /* Mismo fondo de tarjetas */
    border: 1px solid #f59e0b20; /* Borde muy sutil naranja */
    padding: 40px;
    border-radius: 12px;
}

.caja-mision h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.caja-mision p {
    color: #a0a0a0;
    line-height: 1.7;
}


        /* ------------$$$ Footer principio $$$--------- */
.footer-principal {
    background-color: #050505; 
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 60px 5% 20px;
    font-family: 'Montserrat', sans-serif;
}

/* --- Cuadricula de 3 Columnas --- */
.footer-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr ; 
    gap: 40px;
    margin-bottom: 60px;
}

/* --- Textos y Titulos del Footer --- */
.footer-columna p {
    color: #a0a0a0;
    font-size: 0.85rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer-columna h4 {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 20px;
}

/* --- Columna 1: Logo --- */
.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 15px;
}

.logo-footer-caja {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    padding: 2px;
    color: #000000;
    background-color: #ff9900;
}

.logo-footer-caja svg {
    width: 35px;
    height: 35px;
}

.logo-footer i {
    color: #ff9900;
    background-color: rgba(255, 153, 0, 0.1);
    padding: 8px;
    border-radius: 8px;
}

/* --- Columna 2: Enlaces --- */
.enlaces ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.enlaces a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.enlaces a:hover {
    color: #ff9900;
}

/* --- Columna 3: Formulario --- */

.formulario-boletin {
    display: flex;
    gap: 10px;
}

.formulario-boletin input {
    flex-grow: 1;
    background-color: #16181c;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #c2c2c2;
    padding: 12px 15px;
    border-radius: 8px;
    outline: none;
}

.formulario-boletin input::placeholder {
    color: #606060;
}

.formulario-boletin input:hover {
    color: #f1f1f1;
}


.formulario-boletin button {
    background-color: #ff9900;
    color: #000000;
    border: none;
    font-weight: 800;
    padding: 0 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-boletin button:hover {
    background-color: #ffc228;
}

/* --- Barra Inferior (Copyright) --- */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 20px;
}

.footer-bottom p {
    color: #606060;
    font-size: 0.8rem;
    margin: 0;
}

.enlaces-legales {
    display: flex;
    gap: 20px;
}

.enlaces-legales a {
    color: #606060;
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0.3s;
}

.enlaces-legales a:hover {
    color: #ffffff;
}





/* =========================================
   ADAPTACIÓN RESPONSIVE (MÓVILES Y TABLETS)
========================================= */

@media (max-width: 900px) {

     /* 1. Ocultamos los enlaces de texto */
    .navLinks {
        display: none;
    }

    /* 2. Ocultamos el boton de Ingresar de PC */
    .btn-login {
        display: none;
    }

    /* 3. Mostramos el boton hamburguesa */
    .btn-hamburguesa {
        display: flex; /* Lo hace visible y permite alinear los SVGs adentro */
        background: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        padding: 5px;
    }


    /* Transformamos el Nav en un panel desplegable idéntico a tu diseño */
    .nav-principal {
        position: absolute;
        top: 100%; /* Justo debajo de la barra negra */
        left: 0;
        width: 100%;
        background-color: #0a0a0a; /* Fondo super oscuro */
        padding: 20px 5% 40px;
        border-bottom: 1px solid #333;
        
        display: flex;
        flex-direction: column;
        
        /* Animación de entrada */
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.3s ease;
    }

    /* Cuando JS le agregue esta clase, el menú aparecerá mágicamente */
    .nav-principal.activo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }


    /*ultima edicion  <----*/
    .nav-principal.activo .navLinks {
        display: flex; /* Muestra los enlaces en columna */
    }

    .navLinks {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 20px;
    }

    .navLinks a {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    /* La rayita separadora de tu diseño */
    .separador-movil {
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 20px 0;
    }


    /* La historia y los cuadros pasan a apilarse uno arriba del otro */
    .bloque-historia-stats {
        flex-direction: column;
    }
    
    /* Los 4 valores pasan a ser 2 columnas */
    .grilla-4-valores {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    /* En celulares chicos, todo es de 1 sola columna */
    .cabecera-nosotros h1 {
        font-size: 2.5rem;
    }

    .grilla-estadisticas {
        grid-template-columns: repeat(2, 1fr);
    }

    .grilla-4-valores {
        grid-template-columns: 1fr;
    }

    .bloque-mision-vision {
        grid-template-columns: 1fr;
    }



        /* --- FOOTER --- */
    .footer-top {
        grid-template-columns: 1fr; /* 1 sola columna */
        text-align: left; /* Centramos todo */
    }

    .logo-footer {
        justify-content: center;
    }

    .formulario-boletin {
        flex-direction: column; /* Input arriba, botón abajo */
    }

    .footer-bottom {
        flex-direction: column; /* Apilamos legales y copyright */
        gap: 20px;
        text-align: center;
    }

    .formulario-boletin button {
        padding: 15px; /* Le da altura para que no se vea aplastado */
        width: 100%;   
        font-size: 1.1rem;
    }


    /* --- ASISTENTE IA --- */
    .chat-asistente-contenedor {
        bottom: 20px;
        right: 20px;
    }

    .text-asistente-pop {
        display: none; 
    }
    
    .btn-asistente-ia {
        width: 80px;
        height: 80px;
    }

    .btn-asistente-ia svg {
        width: 28px;
        height: 28px;
    }

    .chat-asistente-contenedor:hover .btn-asistente-ia svg {
    transform: scale(1.1); /* Crece un poquito el globo */
    width: 30px;
    height: 30px;
}

}